*{margin: 0;}
#title{ width: 70%; text-align: center; float: left; margin-left: 15%;}
#title h2{font-size: 0.8em; font-weight: bold; padding: 2% 0;}
.depoimento,.inputForm,.legend{width: 100%; float: left; }
.legend{margin-top: 2%; text-align: center;}
.inputForm{margin-top: 2%; padding: 2% 0; border-radius: 7px;
          background-color:  #fff; }
.btnformD{width: 45%; float: left; padding: 2% 0; margin-top: 2%; cursor: pointer;
         border-radius: 7px; background-color: #ffcc00; border: 2px solid #fff;; color: #000;}
.btnformD2{margin-left: 4%; margin-bottom: 2%;}
.btnformD:hover{background-color: #ffcc66}
.topo{background-color: #ffcc33;}
#indexSection,.postagem{width: 100%; float:left; text-align: center; text-decoration: none;}
#indexSection .titlePostagem{font-size: 2em;}
.paragrafoPostagem{text-align: justify; width: 90%; margin-left: 5%;}
/*depoimento*/
#indexSection, .listaDepoimento{width: 100%; margin-left: 0%; float: left; text-align: center; background-color: #ffff99;}
.divDepoimento{width: 100%; float: left; }
.titleDepoimento{font-size: 2em;}


@media screen and (min-width: 640px){
    #indexSection, .listaDepoimento{width: 70%; margin-left: 15%; float: left; text-align: center; background-color: #ffff99;}
.divDepoimento{width: 50%; float: left; }
.titleDepoimento{font-size: 2em;}

    .legend{width: 70%; margin-left: 15%;}
    .inputForm{width: 70%; margin-left: 15%; background-color: #fff;} 
    .btnformD1{width: 20%; margin-left: 15%;} 
    .btnformD2{width: 20%;}
}
@media screen and (min-width: 900px){
    #title h2{font-size: 2em; padding: 2% 0;}
}