.login{width: 100%; float: left; text-align: center;}
.login p {padding:2% 0; font-size:1.5em; font-weight: bold;}
#email{width: 90%; padding: 2% 0;  border-radius:10px; text-align: center; font-size: 0.8em;}
#senha{width: 90%;  padding: 2% 0; margin-top: 4%; border-radius:10px; text-align: center; 
        font-size: 0.8em;}
#btns{width: 30%; margin-left: 5%; padding: 2%; margin-top: 4%; margin-bottom: 3%;  border-radius:10px;
    background-color: #ffcc00; border: 2px solid #fff;; color: #000;}
#btns:hover{background: #ffcc66; cursor:pointer; color: #000;}

@media screen and (min-width: 640px){
    #email{width: 70%;}
    #senha{width: 70%;}
}
@media screen and (min-width: 900px){
    #email{width: 50%;}
    #senha{width: 50%;}
    #btns{width: 20%;}
}
@media screen and (min-width: 1200px){
    #email{width: 30%;}
    #senha{width: 30%;}
    
}